/* Coolors Exported Palette - coolors.co/ea7209-353535-c9daea-f29d4d-654236 */

/* HSL */
$color1: hsla(28%, 93%, 48%, 1);
$color2: hsla(0%, 0%, 21%, 1);
$color3: hsla(209%, 44%, 85%, 1);
$color4: hsla(29%, 86%, 63%, 1);
$color5: hsla(15%, 30%, 30%, 1);

/* RGB */
$color1: rgba(234, 114, 9, 1);
$color2: rgba(53, 53, 53, 1);
$color3: rgba(201, 218, 234, 1);
$color4: rgba(242, 157, 77, 1);
$color5: rgba(101, 66, 54, 1);