/* Coolors Exported Palette - coolors.co/ea7209-353535-c9daea-ffb400-9a031e */

/* HSL */
$color1: hsla(28%, 93%, 48%, 1);
$color2: hsla(0%, 0%, 21%, 1);
$color3: hsla(209%, 44%, 85%, 1);
$color4: hsla(42%, 100%, 50%, 1);
$color5: hsla(349%, 96%, 31%, 1);

/* RGB */
$color1: rgba(234, 114, 9, 1);
$color2: rgba(53, 53, 53, 1);
$color3: rgba(201, 218, 234, 1);
$color4: rgba(255, 180, 0, 1);
$color5: rgba(154, 3, 30, 1);